html {
    background-color: #618a3d;
    overflow-x:hidden;
    font-family: 'Merienda', cursive;
}
body {
    background-color: #618a3d;
    color: white;
    height: 100%;
    width: 90vw;
    margin: auto;
}
.focim {
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translateY(-100%) translateX(-50%) scale(200%);
    z-index: 0;
    width: 25px;
    transition: 1s;
}
.focim:first-child {
    transform: translateY(0%) translateX(0%);
    font-size: 500%;
}
.focim:nth-child(2) {
    transform: translateY(0%) translateX(0%);
    font-size: 500%;
}
.focim:nth-child(3) {
    transform: translateY(0%) translateX(0%);
    font-size: 500%;
}
.focim:nth-child(4) {
    transform: translateY(0%) translateX(0%);
    font-size: 500%;
}
.focim:nth-child(5) {
    transform: translateY(0%) translateX(0%);
    font-size: 500%;
}
.focim:nth-child(6) {
    transform: translateY(0%) translateX(0%);
    font-size: 500%;
}
#fooldal {
    width: 100%;
    height: 90vh;
    z-index: 1;
}
#alakzat {
    width: 200%;
    height: 100vh;
    transform: translateX(-20%) translateY(-10%) rotate(-10deg);
    background-color:#44612b;
    z-index: 4;
}
#bemutat {
    width: 100%;
    height: 80vh;
    background-color: #44612b;
    z-index: 4;
}
#celunk {
    
    width: 100%;
    height: 90vh;
    background-color: pink;
    z-index: 4;
}
#photo1 {
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100px;
    background-color: red;
}

